<section class='main flex-col'>
  <h1 class='app-title'>Beat Machine</h1>
  <div class='content flex-col'>
    <figure id='matrix'>
    </figure>
    <section>
      <form id='save-form'>
        <input type="text" name="beat-name" placeholder='Name'>
        <input type="submit" name="" value="Save">
        <ul class='error-list'>
        </ul>
      </form>
      <button id='play-button'>Play</button>
      <button id='clear-button'>Clear</button>
    </section>
    <figure id='tempo-bar'>
      <i id='tempo-marker' draggable='true'></i>
    </figure>
    <button type="button" id='delete-button'>
      Delete
    </button>
    <% if logged_in? %>
      <h1>Your Beats</h1>
    <% end %>
    <section id='beat-index'></section>
  </div>
  <script src="/app/assets/javascripts/bundle.js"></script>
</section>
