<section class='main'>
  <div class='content flex-col'>
    <figure id='matrix'>
    </figure>
    <section class='controls flex-col'>
      <label>
        BEAT NAME:
        <input type="text" name="beat-name" placeholder=''>
      </label>
      <figure id='tempo-bar'>
        <i id='tempo-marker' draggable='true'></i>
      </figure>
      <nav>
        <button id='play-button'>PLAY</button>
        <button id='clear-button'>CLEAR</button>
        <button id='delete-button'>DELETE</button>
        <button id='save-button'>SAVE</button>
      </nav>
      <ul class='error-list'>
      </ul>
      <nav>
      </nav>
    </section>
  </div>
  <aside class='beat-sidebar flex-col'>
    <% if logged_in? %>
    <h1>YOUR BEATS</h1>
    <% else %>
    <h1>Log in to save the beats you make. They will show up here.</h1>
    <% end %>
    <div id="beat-index">
    </div>
  </aside>
  <script src="/app/assets/javascripts/bundle.js"></script>
</section>
