<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/app/assets/javascripts/lion_dom.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/application.css"></link>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/normalize.css"></link>
    <title></title>
  </head>
  <body>
    <h1>Application!</h1>

    <% if current_user %>
      <h2>Hey <%= current_user.username %>!</h2>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
      </form>
    <% else %>
      <% unless @hide_log_in_link %>
        <a href="/session/new">Log In</a>
      <% end %>
      <% unless @hide_sign_up_link %>
        <a href="/users/new">Sign Up</a>
      <% end %>
    <% end %>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    __YIELD__

  </body>
</html>
