<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/app/assets/favicon.jpg" type="image/x-icon">
    <script src="/app/assets/javascripts/lion_dom.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/application.css"></link>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/normalize.css"></link>
    <title></title>
  </head>
  <body>
    <header class='app-header'>
      <a href='/'>
        <div class="app-title">
          <h1>Beats Machine</h1>
        </div>
      </a>
      <% if logged_in? %>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class='nav-button logout-button' type="submit" value="Log Out">
        </form>
        <h2 class='greeting'>Hey <%= current_user.username %>!</h2>
      <% else %>
        <% unless @hide_log_in_link %>
        <a href="/session/new">
          <div class="nav-button">
            Log In
          </div>
        </a>
        <% end %>
        <% unless @hide_sign_up_link %>
        <a href="/users/new">
          <div class="nav-button">
            Sign Up
          </div>
        </a>
        <% end %>
      <% end %>
    </header>

    __YIELD__

  </body>
</html>
