<section class='main flex-col'>
  <h1 class='app-title'>Beat Machine</h1>
  <div class='content flex-col'>
    <!-- <canvas nx='matrix'></canvas> -->
    <figure id='matrix'>
    </figure>
    <section>
      <button id='play-button'>Play</button>
      <button id='clear-button'>Clear</button>
    </section>
    <figure id='tempo-bar'>
      <i id='tempo-marker' draggable='true'></i>
    </figure>
  </div>
  <script src="/app/assets/javascripts/bundle.js"></script>
</section>
