body {
  font-family: sans-serif;
  /*background: white;*/
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.main {
  margin: 20px;
  /*background: white;*/
  display: flex;
  min-width: 980px;
}

h1.app-title {
  font-size: 32px;
  padding: 10px;
  color: lightgrey;
}

li.tile {
  width: 75px;
  height: 75px;
  list-style: none;
  border: 2px solid lightgrey;
  padding: 0px;
  box-sizing: border-box;
}

li.tile.enabled:hover {
  background: blue;
  cursor: pointer;
}

li.activated {
  background: orange;
}

li.tile.enabled.activated:hover {
  background: yellow;
}

li.tile.playing {
  background: purple;
}

li.tile.activated.playing {
  background: blue;
}

#matrix > ul {
  display: flex;
  padding: 0;
  border: 2px solid lightgrey;
}

#matrix {
  background: azure;
  margin: 20px;
}

li.column {
  list-style: none;
}

li.column > ul{
  display: flex;
  flex-direction: column;
  padding: 0;
}
/*
section#beat-index {
  width: 80%;
}*/

aside.beat-sidebar {
  padding-top:10px;
  text-align: center;
  color: black;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#beat-index > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beat-index-item {
  margin: 10px;
  color: grey;
  text-align: center;
}

.beat-index-item.selected > ul {
  background-color: green;
}

li.beat-index-item li.tile {
  width: 20px;
  height: 20px;
}

li.beat-index-item > ul {
  background: azure;
  display: flex;
  margin-bottom: 5px;
}

li.beat-index-item > ul:hover {
  cursor: pointer;
  background-color: brown;
}

/*HEADER */

h2.greeting {
  padding: 20px;
  border-left: 1px solid black;
  color: black;
}

input.logout-button {
  padding: 18px;
  font-size: 24px;
}

header.app-header {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.app-title {
  padding: 20px;
  background: azure;
}

.app-title:hover {
  background: orange;
}

.nav-button {
  font-size: 24px;
  border-left: 1px solid black;
  padding: 20px;
  color: black;
}

header a:last-child {
  border-right: 1px solid black;
}

.nav-button:hover {
  background: orange;
}

/* AUTH FORMS */

section.auth-form {
  margin: 0 auto;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-top: none;
}

.auth-form h1 {
  font-size: 24px;
  margin: 10px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  background: lightgrey;
  margin: 10px;
  padding: 5px;
}

.auth-form input[type=submit] {
  background: orange;
  font-size: 18px;
}

.auth-form input[type=submit]:hover {
  background: yellow;
}

.auth-form a {
  padding: 15px;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.auth-form a:hover {
  border: 1px solid grey;
}

/* MACHINE CONTROLS */

section.controls {
  padding: 20px;
}

figure#tempo-bar {
  position: relative;
  border: 3px solid black;
  margin: 20px 0 10px 0;
}

i#tempo-marker {
  border: 10px solid blue;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: -5px;
}

i#tempo-marker:hover {
  cursor: pointer;
}

.controls button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  width: 120px;
  color: black;
}

.controls button:hover {
  background: orange;
}

.controls nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 20px;
  margin-top: 10px;
}

.controls button:disabled {
  background: grey;
  cursor: default;
}

.controls input {
  border-bottom: 2px solid black;
  padding: 5px;
  font-size: 16px;
}

.controls {
  color: black;
}

/* ERROR LIST */

.error-list li {
  list-style: disc;
}
