body {
  font-family: sans-serif;
  /*background: black;*/
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.main {
  padding: 20px;
}

div.content {
}

h1.app-title {
  font-size: 32px;
  padding: 10px;
  color: lightgrey;
}

li.tile {
  width: 75px;
  height: 75px;
  list-style: none;
  border: 2px solid lightgrey;
  padding: 0px;
  box-sizing: border-box;
}

li.tile.enabled:hover {
  background: blue;
  cursor: pointer;
}

li.activated {
  background: red;
}

li.tile.enabled.activated:hover {
  background: yellow;
}

li.tile.playing {
  background: purple;
}

li.tile.activated.playing {
  background: orange;
}

#matrix > ul {
  display: flex;
  padding: 0;
  border: 2px solid lightgrey;
}

li.column {
  list-style: none;
}

li.column > ul{
  display: flex;
  flex-direction: column;
  padding: 0;
}

figure#tempo-bar {
  position: relative;
  border: 3px solid lightgrey;
}

i#tempo-marker {
  border: 10px solid blue;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: -5px;
}

i#tempo-marker:hover {
  cursor: pointer;
}

section#beat-index {
  width: 80%;
}

#beat-index > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beat-index-item {
  margin: 10px;
  color: grey;
  text-align: center;
}

.beat-index-item.selected > ul {
  background-color: green;
}

li.beat-index-item li.tile {
  width: 20px;
  height: 20px;
}

li.beat-index-item > ul {
  display: flex;
}

li.beat-index-item > ul:hover {
  cursor: pointer;
  background-color: orange;
}
